<!DOCTYPE html>
<html>

<head>
	<title>Assessment Info</title>
</head>

<body>
	<a href="{% url 'dashboard' %}" class="btn btn-dark">Go Back</a>
	<h1>Assessment Info</h1>
	
	<table>
		<thead>
			<tr>
				<th>Module</th>
				<th>Title</th>
				<th>Hand Out Date</th>
				<th>Hand In Date</th>
				<th>Suggested Deadline</th>  <!-- New column -->
			</tr>
		</thead>
		<tbody>
			{% for assessment in assessments %}
			{% if assessment.Hand_out_date and assessment.hand_in_date %}
			<tr>
				<td>{{ assessment.module }}</td>
				<td>{{ assessment.Title }}</td>
				<td>{{ assessment.Hand_out_date }}</td>
				<td>{{ assessment.hand_in_date }}</td>
				<td>{{ assessment.suggesteddeadline }}</td>  <!-- Display suggested deadline -->
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</body>

</html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">