{% include 'base/navigation.html' %}

<center><h1>The All in One Student Work Tracker</h1></center>

{% if user.is_authenticated %}
<center>
  <div class="btn-group" style="margin-bottom: 20px;">
  {% include 'base/listoftasks.html' %}
  </div>
    <h3>Tasks accomplished: {{ accomplished_count }}</h3>
    <h3>Tasks left to do: {{ unaccomplished_count }}</h3>
</center>


  <div style="margin-bottom: 40px;">
  <h2>Here are your lectures for the year:</h2>
  <center>
    <iframe id="calendar" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FLondon&title=Cardiff%20University%20Year%203%20Lectures&src=cWpyZHJyNTVoMjg0NjhlbHEzdGczZGlwYmhwYm9vNDBAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23616161" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

 <center><h2>View your assessments here <a href="{% url 'assessment' %}" class="btn btn-dark">Assessments</a></h2></center>
  
</center>
{% endif %}
<style>
  .btn-group .btn {
    margin-right: 20px;
  }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
