{% include 'base/navigation.html' %}

<!DOCTYPE html>
<html>
<head>
    <title>Student Work Tracker</title>
</head>
<body>
    <h1>Welcome to the all-in-one work tracking website</h1>
    <p>Here you will be able to keep track of all your work via a to-do list, a deadlines section, a lectures timetable, etc.</p>
</body>
</html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">